@{
    ViewBag.Title = "2.Clon_Spotify";
    List<Album> albumes = ViewBag.ListaAlbum;
    List<Usuario> usuarioArtista = ViewBag.ListaArtistas;
    List<Album> Listarandom = MusicasAleatorias(albumes);
}
@functions{
    private List<Album> MusicasAleatorias(List<Album> albums){
        List<Album> list = new List<Album>();
        Random random = new Random();
        for(int i = 0; i < 8; i++){
            int rand = random.Next(0,albums.Count());
            list.Add(albums[i]);
        }

        return list;
    }
}
    <section class="index">
        <header>
            <button class="btn-listado" id="btn-index">
                All
            </button>
            <button class="btn-listado" id="btn-index">
                Music
            </button>
        </header>
        <main class="main">
            <section class="Escuchados-Recientes container">
                @foreach (Album random in Listarandom)
                {
                    <a asp-action="PlayList" asp-controller="VistasParciales" class="link-playList" asp-route-nombreAlbum="@random.AlbumMusica">
                        <component type="typeof(TarjetaMasEscuchada)" render-mode="ServerPrerendered" param-titulo="@random.AlbumMusica" param-urlImage="@random.UrlImage"/>
                    </a>
                }
            </section>
            <section class="playlist-reciente">
                <div>
                    <a asp-controller="VistasParciales" asp-action="VerMasPlayList" asp-route-texto="Recently played"><h3>Recently played</h3></a>
                    <a asp-controller="VistasParciales" asp-action="VerMasPlayList" asp-route-texto="Recently played">Show all</a>
                </div>
                <section class="carrucel-tarjeta">
                    <div class="div-grande" id="divGrande">
                    @if (albumes != null)
                        {
                            foreach (var album in albumes)
                            {
                                <a asp-action="PlayList" asp-controller="VistasParciales" class="link-playList" asp-route-nombreAlbum="@album.AlbumMusica">
                                <component type="typeof(TarjetaPlayList)" render-mode="ServerPrerendered" param-urlImage="@album.UrlImage" param-description="@album.AlbumMusica"/>
                                </a>
                            }
                        }
                    </div>
                    <ul>
                        <li id="li1" class="flechaizquierda"><component type="typeof(FlechaIzquierdaPlayList)" render-mode="ServerPrerendered" /></li>
                        <li id="li2" class="flechaderecha"><component type="typeof(FlechaDerechaPlayList)" render-mode="ServerPrerendered" /></li>
                    </ul>
                </section>
            </section>
            <section class="playlist-reciente" id="artistas">
                <div>
                    <a asp-controller="VistasParciales" asp-action="VerMasPlayList"><h3>Recently played</h3></a>
                    <a asp-controller="VistasParciales" asp-action="VerMasPlayList">Show all</a>
                </div>
                <section class="carrucel-tarjeta">
                    <div class="div-grande" id="divGrande">
                        @foreach (var artista in usuarioArtista)
                        {
                            @if(artista.Verificacion){
                                <a asp-action="VerArtista" asp-controller="VistasParciales" asp-route-id="@artista.IdUsuario" class="link-playList">
                                    <component type="typeof(TarjetaPlayList)" render-mode="ServerPrerendered" param-urlImage="@artista.FotoPerfil" param-description="@artista.NombreUsuario" />
                                </a>
                            }
                        }
                    </div>
                    <ul>
                        <li id="li1"><component type="typeof(FlechaIzquierdaPlayList)" render-mode="ServerPrerendered" /></li>
                        <li id="li2"><component type="typeof(FlechaDerechaPlayList)" render-mode="ServerPrerendered" /></li>
                    </ul>
                </section>
            </section>
        </main>
    </section>