@model API_JUEGOS.Models.Game
@{
	ViewData["Title"] = "Details";
}
<div class="container d-flex mt-4">
	<div class="col tarjeta w-100 mt-5 mb-5">
		<img src="@Model.UrlImage" class="card-img-top" alt="..." style="width: 50%; height: 100%;"/>
		<div class="card-body p-0">
			<h1 class="card-text">@Model.NombreJuego</h1>
			<a class="card-text">@Model.CategoriaJuego</a>
			<div class="w-100 pt-4 pb-4">
				<p class="card-text">@Model.Descripcion</p> 
			</div>
			<a href="#descripcion">Leer Descripcion Completa</a>
		</div>
		<div class="row w-100">
			<p class="card-text">@Model.PrecioLanzamiento $</p>
		</div>
	</div>

	
</div>
<div class=" container row mt-5 pt-5">
	<div class="col">
		<h2>Informacion</h2>
		<div class="linea"></div>
		<div class="mt-5">
			<h4>Descripcion</h4>
			<p id="descripcion">@Model.Descripcion</p>
		</div>
	</div>
</div>