@model List<Game>
@{
    ViewData["Title"] = "API_JUEGO";
}

<h1>Game</h1>
<a asp-controller="Home" asp-action="Create" class="btn btn-primary">Create</a>

<p>Ingresa los juegos para que luego puedas visualizarlo en nuestra <a href="https://localhost:7068/api/ApiGame">API</a></p>
<table class="table text-center">
	<thead>
		<tr>
			<th>Nombre del Juego</th>
			<th>Categoria del Juego</th>
			<th>Año de lanzamiento del Juego</th>
			<th>Precio del Juego</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var game in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(mbox => game.NombreJuego)
				</td>
				<td>
					@Html.DisplayFor(mbox => game.CategoriaJuego)
				</td>
				<td>
					@Html.DisplayFor(mbox => game.AnioLanzamiento)
				</td>
				<td>
					@Html.DisplayFor(mbox => game.PrecioLanzamiento)
				</td>
				<td>
					<a asp-controller="Home" asp-action="Edit" asp-route-id="@game.Id">Editar</a>|
					<a asp-controller="Home" asp-action="Details" asp-route-id="@game.Id">Mirar</a>|
					<a asp-controller="Home" asp-action="Delete" asp-route-id="@game.Id">Eliminar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
