@model API_JUEGOS.Models.Game
@{
	ViewData["Title"] = "Delete";
}

<div class="container">
	<h1 class="m-4">Eliminar Game</h1>
	<hr />

	<div class="alert alert-danger fs-4 text-center" role="alert">
		<p>Los datos que Seleccionaste se van a Eliminar. ¿Deseas Continuar?</p>
	</div>
	
	<div class="row">
		<div class="col m-4">
			<form asp-action="Delete" method="post">
				<div class="form-group m-2">
					<label asp-for="NombreJuego" class="control-label"></label>
					<label class="control-label">: @Html.DisplayFor(m => m.NombreJuego)</label>
				</div>
				<div class="form-group m-2">
					<label asp-for="CategoriaJuego" class="control-label"></label>
					<label class="control-label">: @Html.DisplayFor(m => m.CategoriaJuego)</label>
				</div>
				<div class="form-group m-2">
					<label asp-for="AnioLanzamiento" class="control-label"></label>
					<label class="control-label">: @Html.DisplayFor(m => m.AnioLanzamiento)</label>
				</div>
				<div class="form-group m-2">
					<label asp-for="PrecioLanzamiento" class="control-label"></label>
					<label class="control-label">: @Html.DisplayFor(m => m.PrecioLanzamiento)</label>
				</div>
				<div class="form-group m-2">
					<label asp-for="Descripcion" class="control-label"></label>
					<label class="control-label">: @Html.DisplayFor(m => m.Descripcion)</label>
				</div>
				<div class="form-group m-2">
					<label asp-for="UrlImage" class="control-label"></label>
					<label class="control-label">: @Html.DisplayFor(m => m.UrlImage)</label>
				</div>
				<div class="form-group m-2">
					<input type="submit" value="Eliminar" class="btn btn-danger" />
					<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Volver</a>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}