---
import IconGithub from "../Icon/IconGithub.astro";
export interface Props {
    i: number;
    name: string;
    Description: string;
    UrlImage: string;
    TecnologiaFronted: string[];
    TecnologiaBackend: string[];
    UrlGitHub: string;
}
const {name,Description,UrlImage,TecnologiaFronted,TecnologiaBackend,UrlGitHub,i} = Astro.props
---

<div class="flex flex-col gap-3 p-2 relative overflow-hidden">
    <p class="absolute font-bold text-3xl -rotate-45">#{i}</p>
    <img src={UrlImage} alt="ImagenProyecto" class="w-80 rounded-2xl h-50">
    <h2 class="text-4xl font-bold">{name}</h2>
    <span>{Description}</span>
    <p>Tecnologias Frontend</p>
    <div class="flex flex-row gap-3">
        {
            TecnologiaFronted.map(element => (
                <span class="font-bold">{element}</span>
            ))
        }
    </div>
    <p>Tecnologias Backend</p>
    <div class="flex flex-row gap-3">
        {
            TecnologiaBackend.map(element => (
                <span class="font-bold">{element}</span>
            ))
        }
    </div>
    <div class="flex">
        <a href={UrlGitHub} target="_blank" class="flex flex-row gap-2 p-3 border-2 border-gray-900 rounded-2xl shadow-2xl shadow-black"><IconGithub/> Link GitHub</a>
    </div>
</div>